*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color:#1c1c1c;
    border-bottom: #8ff4ff solid 3px;
    z-index: 1;
}

.navbar_item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    color: #b3b3b3;
    text-decoration: none;
}

.navbar_item:hover{
    background-color: black;
    color: #8ff4ff;
}


.welcome_container{
    display: flex;
    background-image: radial-gradient(ellipse at left top,white,grey);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    font-weight: 900;
}

.welcome{
    display: flex;
    font-size: 10vmin;
    justify-content: center;
    align-items: center;
    color: #1c1c1c;
    border-top: solid 0.75vmin #1c1c1c;
    border-bottom: solid 0.75vmin #1c1c1c;
}

.project_list{
    height: 10000px;
    transform: translateY(50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse at left top,white,grey);
}

.project_column{
    height: 10000px;
    width: 90%;
    transform: translateY(50px);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.project_item{
    width: 80vmin;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 10px;
    background-color: #1c1c1c;
    color: #8ff4ff;
    font-size: 5vmin;
    text-align: center;
    border: 3px white solid;
    text-decoration: none;
    transition: border-radius 0.4s;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.project_desc{
    color: #bbb;
    font-size: 3vmin;
}

.project_item:hover{
    border-radius: 30px;
}

.options_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1c1c1c;
}

.option{
    text-decoration: none;
    color: #8ff4ff;
    border-radius: 70px;
    border-style: solid;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    font-size: 50px;
    font-weight: 100;
    width: 300px;
    height: 500px;
    transition: background-color 0.5s, color 0.5s, border-radius 1s;
}

.option:hover{
    background-color: lightgrey;
    color: #1c1c1c;
    border-radius: 20px;
}

#about:hover{
    content: "Find out more about me!";
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(ellipse at left top,white,grey);
    font-size: 10vmin;
}

.main_text{
    text-align: center;
    color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}